body {
  /* background-image: url(../images/bg.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; */
  position: relative;
  background-color: var(--mantine-accent-background);
  overflow-x: hidden;

  --mantine-accent-background: #020617;
  --mantine-accent-contrast: #fff;
  --mantine-accent-surface: #162a2f80;
  --mantine-accent-indicator: #09f;
  --mantine-accent-track: #09f;

  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--mantine-color-white);
}
