body {
  background-image: url(../../../public/images/bg.avif);
  background-position: center center;
  background-repeat: repeat-y;
  background-size: auto;
  position: relative;
  background-color: var(--mantine-color-dark-9);
  color: var(--mantine-color-gray-3);
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 108px;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.mantine-Skeleton-root {
  &::before {
    display: none;
  }
  &::after {
    background-color: var(--mantine-color-accent-light);
  }
}

ul > li ul > li,
ul > li ol > li,
ol > li ul > li,
ol > li ol > li {
  margin-top: var(--list-spacing, 0);
}
